<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 404 Error Page
        link(rel='stylesheet', href='/public/style.css')
    body
    div.errorPage
    h1.center This page does not exist
    a(href='/') Go Back