html
  head
    title FCC Advanced Node and Express
    meta(name='description', content='A cool thing made with Glitch')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
    link(rel="stylesheet", href="../public/bootstrap.css")
  body
    div.mainDiv
      div.loginTitle
        h1.center.loginFormTitle Login To Your Personal Library
      //- | #{title}
      
      //- div.hello
        //- if message
          //- h2.center#pug-success-message
          //- p#pug-variable=message      
      
      div.showLogin
        if showLogin
          hr
          p.toLogin To Login, Enter Your Information Here:
          form(action='/login', method='post')
            div
              label Username:
              input(type='text', name='username')
            div
              label Password:
              input(type='password', name='password')
            div
              input(type='submit', value='Log In').submitLoginBtn

      div.showRegistration
        if showRegistration
          hr
          p.toRegister To Register A New User, Enter Your Information Here:
          form(action='/register', method='post')
            div
              label Username:
              input(type='text', name='username')
            div
              label Password:
              input(type='password', name='password')
            div
              input(type='submit', value='Register').submitRegistrationBtn